<!-- <div class="container-fluid"> -->
<!-- <div class="home-heading text-center row"> -->
<div class="home-heading-wrapper">
  <h1 class="front-title">
    <em>HURRY RIDES</em>
  </h1>
  <p class="front-message">
    <em>Hurricane parties are fun until the roof is gone</em>
    <br>
  </p>

  <p style="color: black">Hurry Rides connects South Floridians
    <br> who have cars with those who don't.


  </p>

</div>
</div>
</div>