<div class="container-fluid">
  <div class="home-heading text-center row">
    <div class="home-heading-wrapper">
      <h1>Let's Prepare Miami</h1>
      <p>Join your community and be better prepared for the next hurricane</p>

    </div>
  </div>
</div>