<div class="container-fluid">
  <div class="home-heading text-center row">
    <div class="home-heading-wrapper">
      <h1>HURRY RIDES</h1>
      <p>Hurricane parties are fun, until the roof is gone. Signup to get a ride out Miami </p>

    </div>
  </div>
</div>