<div class="container">
	<h2 class="profile-welcome">
		Hi!
		<%=user.username%>
	</h2>

	<!-- <button type="submit">Edit Profile</button> -->




</div>
<div class="parent-card-profile">
	<div class="card-profile">
		<a href="/users/rides">
			<h3> trips your offering</h3>
		</a>
	</div>

	<div class="card-profile">
		<a href="/users/seats">
			<h3> seats your claiming</h3>
		</a>
	</div>
</div>
<hr>
<form action="/logout" method="POST">
	<button class="btn btn-link btn-logout" type="submit">Logout</button>
</form>
</div>