<div class="container">
    <h2 class="CreateTrip">
        Create a New Trip</h2>

    <form action="/trips" method="POST">
        <label for="destinationInput">Destination</label>
        <input type="text" id="destinationInput" name="destinationInput">
        <br>
        <label for="pickupLocationInput">Pickup Location</label>
        <input type="text" name="pickupLocationInput" id="pickupLocationInput">
        <br>
        <label for="departureDateInput">Departure Date</label>
        <input type="date" name="departureDateInput" id="departureDateInput">
        <br>
        <label for="seatsInput">Seats Available</label>
        <input type="number" name="seatsInput" id="seatsInput">
        </textarea>
        <br>
        <label for="gasInput">Gas Estimate $</label>
        <input type="number" name="gasInput" id="gasInput">
        </textarea>
        <br>
        <button type="submit">Create New Trip</button>
    </form>
</div>