<form action="/trips" method="POST">
    <label for="destinationInput">Destination</label>
    <input type="text" id="destinationInput" name="destinationInput">

    <label for="pickupLocationInput">Pickup Location</label>
    <input type="text" name="pickupLocationInput" id="pickupLocationInput">

    <label for="departureDateInput">Departure Date</label>
    <input type="date" name="departureDateInput" id="departureDateInput">

    <label for="seatsInput">Seats Available</label>
    <input type="number" name="seatsInput" id="seatsInput">
    </textarea>

    <button type="submit">Create New Trip</button>
</form>